#setup {
  @apply relative sm:w-[1242px] mx-auto mt-[200px] sm:mt-[345px];
  padding-bottom: 210px;
}

#setup:before {
  @apply top-[50px] sm:top-[200px] sm:left-0;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('/bg-deployment.png');
  background-position: center 150px;
  background-repeat: no-repeat;
  z-index: -1;
}
