.hero-slider-container {
  @apply relative;
}

.hero-slider-container:after {
  @apply transition-all duration-500;
  background: linear-gradient(180deg, rgba(5, 5, 30, 0) 0%, rgb(0 0 0 / 70%) 34.48%, #000000 100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1

}

.hero-slider-container:hover:after{
  /* opacity: 0.6 */
}
