
.card {
  @apply relative rounded-xl overflow-hidden;
  /* min-width: 400px; */
  height: 450px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-no-min-width {
  /* width */
}

.card.card-size-flex {
  min-width: 100%;
  height: 100% !important;
}

.card.card-border-lighter {
  border-width: 3px;
  border-color: #443E53;
}

.card.border-bold {
  border: 1px solid rgb(24 24 24 / 79%);
}

.card img {
  max-width: none;
}

.card-bg-red {
  background-image: url('/card-bg-1.jpg');
  background-position: -130px -31px;
}

.card-bg-sky {
  background-image: url('/card-bg-2.jpg');
  background-position: -18px -192px;
}

.card-bg-ocean {
  background-image: url('/card-bg-4.jpg');
  background-position: -94px -17px;
  background-size: 805px;
}

.card-bg-hell {
  background-image: url('/card-bg-3.jpg');
  background-position: -35px -23px;
  background-size: 560px;
}

.card-bg-aurora {
  background-image: url('/card-bg-5.jpg');
  background-position: -35px -23px;
  /* background-size: 560px; */
}

.card-bg-darkblur {
  background-color: rgba(0,0,0,.6)
}

.card-title {
  @apply absolute z-20 bottom-0 left-0 rounded-b-xl w-full;
  @apply flex items-end;
  min-height: 173px;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10.2%, rgba(0, 0, 0, 0.67) 38%, #000000 100%);

}
