@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --second-color: #7F8AA3;
}

@layer utilities {
  .h1 {
    font-weight: 600;
    font-size: 65px;
    /* Don’t mind the cost Just do the work */

    background: linear-gradient(96.14deg, #FFFFFF 17.18%, #9389B7 82.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 79px;

  }

  .h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
  }

  .hl1 {
    @apply uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    background: linear-gradient(90deg, #FFC075 0%, #F99090 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .pa1 {
    text-align: center;
    font-size: 22px;
    color: var(--second-color);
  }

  .pa2 {
    font-size: 18px;
    color: var(--second-color);
  }

  .second-color {
    color: var(--second-color);
  }

  .bg-gradient-1 {
    position: relative;
    width: 903.98px;
    height: 898.92px;
  }

  .bg-gradient-1:before {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 629.21px;
    height: 629.21px;
    left: 147.72px;
    top: 155px;

    background: linear-gradient(180deg, #7BB0FF 0%, rgba(122, 255, 111, 0.46) 100%);
    filter: blur(100px);
    transform: rotate(-90deg);
  }

/* circel-sm */

  .bg-gradient-1:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 460.4px;
    height: 460.4px;
    left: 180.56px;
    top: 81px;

    background: linear-gradient(180deg, #3E87F6 0%, rgba(54, 245, 37, 0) 100%, #7261A3 100%);
    filter: blur(50px);
    transform: rotate(-90deg);
  }


  .bg-gradient-2 {
    position: relative;
    width: 653px;
    height: 666.81px;
  }

  .bg-gradient-2:after {
    content:'';
    position: absolute;
    width: 629.21px;
    height: 629.21px;
    left: 0px;
    top: 37.6px;
    border-radius: 50%;

    background: linear-gradient(180deg, #FF7BCA 0%, rgba(255, 197, 111, 0.46) 100%);
    filter: blur(100px);
  }

  .bg-gradient-2:before {
    content: '';
    position: absolute;
    width: 460.4px;
    height: 460.4px;
    left: 192.6px;
    top: 0px;
    border-radius: 50%;

    background: linear-gradient(180deg, #F22FB0 0%, rgba(245, 138, 37, 0) 100%, #7061A3 100%);
    filter: blur(50px);
  }

}

body {
  color: white;
  background: #060211;
  /* overflow-x: hidden; */
}

#menu {
  @apply flex items-center justify-center gap-8 px-6;
  @apply bg-black/50 border py-3 rounded-xl text-sm;  
  /* width: 350px; */
  border-color: #503B8C;
  box-shadow: 1px 9px 16px rgba(8, 30, 85, 0.34);
}

.cta-btn1{
  @apply uppercase text-sm text-gray-900 px-6 py-2.5 font-bold;
  background: #EEE9FF;
  border-radius: 8px;
}

.hero-background {
  @apply relative;
}

.hero-background:before {
  @apply absolute w-full h-full top-0 left-0 z-10;
  content: '';

  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(6, 2, 17, 0) 23.5%, rgba(6, 2, 17, 0.91) 60%, #060211 100%);


}

