@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --second-color: #7F8AA3;
}

@layer utilities {
  .h1 {
    font-weight: 600;
    font-size: 65px;
    /* Don’t mind the cost Just do the work */

    background: linear-gradient(96.14deg, #FFFFFF 17.18%, #9389B7 82.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 79px;

  }

  .pa1 {
    font-size: 22px;
    color: var(--second-color);
  }

  .second-color {
    color: var(--second-color);
  }
}

body {
  color: white;
  background: #060211;
}

#menu {
  @apply flex items-center justify-center gap-8 px-6;
  @apply bg-black/50 border py-3 rounded-xl text-sm;  
  /* width: 350px; */
  border-color: #503B8C;
  box-shadow: 1px 9px 16px rgba(8, 30, 85, 0.34);
}

.cta-btn1{
  @apply uppercase text-sm text-gray-900 px-6 py-2.5 font-bold;
  background: #EEE9FF;
  border-radius: 8px;
}
